.container
{
    display: grid;
    margin: auto;
    height: 100%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-areas: "title title"
    "warning warning"
    "items controls"
    "empty submit";
}

.formItemsContainer
{
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr) 2fr repeat(3,1fr);
    row-gap: 5px;
    grid-template-areas: "Name"
    "Email"
    "AlternateEmail"
    "Phone"
    "Mobile"
    "PostalAddress"
    "Country"
    "Password"
    "ConfirmPassword"
    "AcceptTerms"
    ;
}

.box
{
    display: flex;
    align-items: center;
    border: 1px red solid;
    padding: 15px;
}

.formItemsBox
{
    
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    border: 1px black solid;
    padding: 5px;
}

.formControlsBox
{
    
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px blue solid;
    padding: 5px;
}

#name,
#nameControl
{
    grid-area: Name;
}

#email,
#emailControl
{
    grid-area: Email;
}

#alternateEmail,
#alternateEmailControl
{
    grid-area: AlternateEmail;
}


#phone,
#phoneControl
{
    grid-area: Phone;
}


#mobile,
#mobileControl
{
    grid-area: Mobile;
}

#postalAddress,
#postalAddressControl
{
    grid-area: PostalAddress;
}


#country,
#countryControl
{
    grid-area: Country;
}


#password,
#passwordControl
{
    grid-area: Password;
}

#confirmPassword,
#confirmPasswordControl
{
    grid-area: ConfirmPassword;
}

#acceptTerms
{
    grid-area: AcceptTerms;
}

#title
{
    grid-area: title;
}
#warning
{
    grid-area: warning;
}

#formItems
{
grid-area: items;
}

#formControls
{
    grid-area: controls;
}

#submit
{
    grid-area: submit;
}