body {
    box-sizing: border-box;
}

.container {
    display: grid;
    width: 11%;
    margin: auto;
    grid-template-columns: 1fr;
    border: 10px solid #40a3f6;
    padding: 10px;
}


#calculatorBody {
    width: 100%;
}

#buttonsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;

}

#screen {
    height: 50px;
    color: #15627e;
    font-weight: bolder;
    font-size: 35px;
    padding: 10px;
}

#opScreen {
    height: 25px;
    color: #bbbbbb;
    padding: 10px;
}

.btnNumber {
    width: 50px;
    height: 50px;
    background-color: #f6f9fe;
    border: none;
    color: #a6abaf;
    font-weight: bolder;
    font-size: 20px;
}

.btnNumber:hover {

    background-color: #acc6dc;
}

.btnNumber:active {
    background-color: #f6f9fe;

}

.btnOperation {
    width: 50px;
    height: 50px;
    background-color: #d9eeff;
    color: #a7c1d9;
    border: none;
    font-weight: bolder;
    font-size: 20px;
}

.btnOperation:hover {
    background-color: #9ed4f6;
}

.btnOperation:active {
    background-color: #d9eeff;
}

#btnZero {
    width: 100px;
}
